$textColor: #1f1f1f;
$textButtonColor: #ffffff;

$backgroundWhite: #ffffff;
$backgroundGrey: #f7f9fa;

$transparent: transparent;
$white: #ffffff;
$red: #ff6347;
$grey: #969fa4;
$black: #1f1f1f;
$blue: #0070a0;
$primaryColor: #0070a0;

$transition: all 0.2s ease-out;
$hoverOpacity: 0.6;
$activeOpacity: 0.4;

$textFont: 'Inter', sans-serif;
$titleFont: 'Arvo', serif;
